.Admin {
    text-align: center;
  }
  
  .Admin-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Admin-logo {
      animation: Admin-logo-spin infinite 20s linear;
    }
  }
  
  .Admin-header {
    background-image: url("../img/background.png");
    background-color: #282c34;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .Admin-link {
    color: #61dafb;
  }
  
  .rentfyLogoAdmin{
    width: 35%;
    height: auto;
  }
  
  .labelCadImo{
    font-size: 16px;
    font-weight: 500;
  }
  
  .numCadImo{
    width: 50px;
  }
  
  .compCadImo{
    width: 100px;
  }
  
  .cadImoLegendFieldInfo{
    font-size: 20px;
  }
  
  .textAreaSize{
    resize: none;
  }
  
  .inputCadImo[type="file"] {
    display: none;
  }
  
  .labelEnvioCadImo {
    padding: 20px 10px;
    width: 150px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .locationImg{
    width: 100%;
    height: auto;
  }
  
  .btnEditarAdmin{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:rgba(255, 255, 255, 1);
    border-color:rgba(16, 129, 16, 1);
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px rgba(7, 72, 23, 1);
    background:rgb(25, 195, 79);  
    margin-top: 15px; 
  }
  
  .btnEditarAdmin:hover{
    background: rgb(122, 235, 141)
  }

  .btnDeletarAdmin{
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:rgba(255, 255, 255, 1);
    border-color:rgb(129, 16, 16);
    font-weight:bold;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px rgb(72, 7, 7);
    background:rgb(248, 46, 46);  
    margin-top: 15px; 
  }
  
  .btnDeletarAdmin:hover{
    background: rgb(233, 104, 104)
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered td,
  .table-bordered th {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th {
    border-bottom-width: 2px;
    border-top: 1px solid #dee2e6; /* Adiciona uma linha no topo do cabeçalho */
  }
  
  #imoveis-localizados {
    border: 1px solid #000000; /* Adiciona uma linha no exterior da tabela */
  }
  
  .rounded-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 1px solid black;
    padding: 8px;
    width: 70%;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .fieldset-custom-admin {
    background-color: rgba(139, 138, 138, 0.364);
    margin-left: 10px;
  }