.Cadastro {
    text-align: center;
  }
  
  .Cadastro-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Cadastro-logo {
      animation: Cadastro-logo-spin infinite 20s linear;
    }
  }
  
  .Cadastro-header {
    background-image: url("../img/background.png");
    background-color: #282c34;
    background-repeat: repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Cadastro-link {
    color: #61dafb;
  }
  
  .rentfyLogoCadastro{
    width: 35%;
    height: auto;
  }
  
  .welcome {
    color: black;
  }

  .CadastroForm{
    height: 730px;
    width: 400px;
    background-color: rgba(100, 100, 100, 0.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    /*box-shadow: 0 0 40px rgba(8,7,16,0.6);*/
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.5);
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.labelCadastro{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.inputCadastro{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #9cd99c;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: rgb(133, 235, 82)
  }
  .radioContainer {
    display: flex;
    align-items: center;
}

.radioFont{
  font-size: 16px;
}