.VisualizarImovel {
    text-align: center;
  }
  
  .VisualizarImovel-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .VisualizarImovel-logo {
      animation: VisualizarImovel-logo-spin infinite 20s linear;
    }
  }

  
  
  .VisualizarImovel-header {
    background-image: url("../img/background.png");
    background-color: #282c34;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .VisualizarImovel-link {
    color: #61dafb;
  }
  
  .rentfyLogoVisualizarImovel{
    width: 35%;
    height: auto;
  }

  .camera{
    width: 50%;
    height: auto;
  }

  .labelCadImo{
    font-size: 16px;
    font-weight: 500;
  }

  .numCadImo{
    width: 50px;
  }

  .compCadImo{
    width: 100px;
  }

  .cadImoLegendFieldInfo{
    font-size: 20px;
  }

  .textAreaSize{
    resize: none;
  }

  .inputCadImo[type="file"] {
    display: none;
}

.labelEnvioCadImo {
    padding: 20px 10px;
    width: 150px;
    background-color: #333;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
}

.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .locationImg{
    width: 100%;
    height: auto;
  }

  .round-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a9a8a8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  